@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Accounts.Receipt.EntityPlural");
}
<style>
    .high-price {
        background-color: #5dbe52 !important;
    }
</style>
<div class="row" style="padding:10px">
    <div class="col-md-3" style="height:100px;border-radius:10px;padding:5px">

        <div style="width:100%;height:100%;background-color:#d13d3d;border-radius:10px">
            <label style="color:white;padding:10px;font-size:20px">Opening</label>
            <br />
            <label style="color:white;padding-left:10px;font-size:15px" id="opening">0.000</label>
        </div>

    </div>
    <div class="col-md-3" style="        height: 100px;
        border-radius: 10px;

        padding: 5px
">
        <div style="width:100%;height:100%;background-color:#5dbe52;border-radius:10px">
            <label style="color:white;padding:10px;font-size:20px">Debit</label>
            <br />
            <label style="color:white;padding-left:10px;font-size:15px" id="debit">0.000</label>
        </div>
    </div>
    <div class="col-md-3" style="        height: 100px;
        border-radius: 10px;

        padding: 5px
">
        <div style="width:100%;height:100%;background-color:#2b53b0;border-radius:10px">
            <label style="color:white;padding:10px;font-size:20px">Credit</label>
            <br />
            <label style="color:white;padding-left:10px;font-size:15px" id="credit">0.000</label>
        </div>
    </div>
    <div class="col-md-3" style="        height: 100px;
        border-radius: 10px;

        padding: 5px
">
        <div style="width:100%;height:100%;background-color:#ff6a00;border-radius:10px">
            <label style="color:white;padding:10px;font-size:20px">Closing</label>
            <br />
            <label style="color:white;padding-left:10px;font-size:15px" id="closing">0.000</label>
        </div>
    </div>
</div>
<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SerExtraCore.Accounts.BankReconciliationGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>