@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.HRM.PayrollPayment.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SerExtraCore.HRM.PayrollPaymentGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>