
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.UOMAmount.UOMAmount.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SerExtraCore.UOMAmount.UOMAmountGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>