@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Master.ShippingAreas.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SerExtraCore.Master.ShippingAreasGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>