@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Master.ClearanceStatus.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SerExtraCore.Master.ClearanceStatusGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>