
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.CommissionPercentage.CommissionPercentage.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SerExtraCore.CommissionPercentage.CommissionPercentageGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>