
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.FuelDetails.FuelDetails.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SerExtraCore.FuelDetails.FuelDetailsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>