@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Accounts.Payment.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SerExtraCore.Accounts.PaymentGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>