@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Transactions.Clearance.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SerExtraCore.Transactions.ClearanceGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>