@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.PDCPayments.PdcPayments.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SerExtraCore.PDCPayments.PdcPaymentsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>