@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Administration.CustomLookups.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SerExtraCore.Administration.CustomLookupsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>