@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Documents.Documents.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SerExtraCore.Documents.DocumentsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>