
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.VehicleMovDetails.VehicleMovDetails.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SerExtraCore.VehicleMovDetails.VehicleMovDetailsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>