@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.HRM.PayrollStructures.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SerExtraCore.HRM.PayrollStructuresGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>