
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.VehicleFreight.VehicleFreight.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SerExtraCore.VehicleFreight.VehicleFreightGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>