
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Extr.Extr.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SerExtraCore.Extr.ExtrGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>