
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.SettlementDetails.SettlementDetails.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SerExtraCore.SettlementDetails.SettlementDetailsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>