@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Reports.ReportDataSets.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SerExtraCore.Reports.ReportDataSetsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>