
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.PumpDetails.PumpDetails.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SerExtraCore.PumpDetails.PumpDetailsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>