@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Reports.ReportParameters.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SerExtraCore.Reports.ReportParametersGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>