
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.UOM.UOM.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SerExtraCore.UOM.UOMGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>