
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.ServiceAmount.ServiceAmount.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SerExtraCore.ServiceAmount.ServiceAmountGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>